<div class="row align-items-center justify-content-md-center box-login-pai">
  <div class="col-12" style="padding-left: 5%;">
      <div class="box-chield text-center form-cadastro">
          <h2>Cadastro realizado com sucesso</h2>
          <div class="row">
            <p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>

          </div>

          <div class="row" style="margin-top:20px;">
              <div class="col-12">
                  <button routerLink="" class="btn btn-cadastro pull-left"><i style="margin-right: 20px;" class="fas fa-caret-left"></i>voltar</button>
              </div>
          </div>

      </div>
  </div>
</div>