@import "../../../node_modules/bootstrap/scss/_buttons.scss";
.btn-confirm {
    color: $yellow-fico;
    background-color: transparent;
    border: 1px solid $yellow-fico;
    &:hover {
        color: black;
        background-color: $yellow-fico;
    }

}
.btn-red {
    color: $red-fico;
    background-color: transparent;
    border: 1px solid $red-fico;
    &:hover {
        color: black;
        background-color: $red-fico;
    }

}

.btn-cadastro {
    padding: 0;
    background-color: transparent;
    color: $yellow-fico;
    text-transform: uppercase;
    font-size: 25px;
    padding: 0;
    i {
        color: transparent;
        -webkit-text-stroke: 1px $yellow-fico;
        font-size: 43px;
        position: relative;
        top: 6px;

    }
    &:hover {
        i{
            color: $yellow-fico;
            text-shadow: 0 0 24px $yellow-fico;
         }
    }
    &.pull-left{
        i{margin-right: 20px;}
    }
    &.pull-right{
        i{margin-left: 20px;}
    }    
    @include maxWidth(991) {
        font-size: 15px;        
        i{
            font-size: 28px;
        }
        &.pull-left{
            i{margin-right: 10px;}
        }
        &.pull-right{
            i{margin-left: 10px;}
        }          
    }
}