<div style="width: 100%; height: 100%; position: absolute;">
	<iframe frameborder="0" src="https://tvweb3.unip.br/player/Iframe?id=8e967e6d-ac35-4c95-9514-71becb637a8f" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
  <!-- <video id="vid1" class="azuremediaplayer amp-default-skin" autoplay controls width="100%" height="100%" poster="poster.jpg" data-setup='{"nativeControlsForTouch": false}'>
    <source src="http://amssamples.streaming.mediaservices.windows.net/91492735-c523-432b-ba01-faba6c2206a2/AzureMediaServicesPromo.ism/manifest" type="application/vnd.ms-sstr+xml" />
  </video> -->
</div>

<!-- <a (click)="backClick()">
  <i class="fas fa-arrow-left"></i>
</a> -->
<!-- <div class="views">
  <i class="far fa-eye"></i>
  <span>
    1233
  </span>
</div> -->
<!-- 
<div id="myModalWait" class="modal wait fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="goToHome()">&times;</button>
				<h4 class="modal-title">Evento</h4>
			</div>
			<div class="modal-body">
				<p>O evento ainda não está disponível! Você poderá assistir ao evento <b>ao vivo</b> no dia 02 de setembro à partir das 15:00h.</p>
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-submit-modal" data-dismiss="modal" (click)="goToHome()">Entendi</button>
			</div>
		</div>
	</div>
</div> -->
