<div class="mask-black"></div>
<div class="edicoes">




  <section class="container">
    <h2>47º Festival Interno do Colégio Objetivo</h2>
    <hr>
    <p>
    <strong>COMPOSIÇÃO INÉDITA</strong><br>
    <strong>1º lugar </strong><br>
    <strong>Música:</strong> <em>Ascensão</em><br>
    <strong>Alunos: </strong> Irina Alfonso Frederico, Gabriel Duarte e Lucas Bertalia – Objetivo  Ipiranga</p>

    <p><strong>2º lugar </strong><br>
    <strong>Melhor Letra</strong><br>
    <strong>Música:</strong> <em>Novos velhos mundos</em><br>
    <strong>Aluno:</strong> Tiago Ferreira Impaléa – Objetivo  Luís Goes</p>

    <p><strong>3º lugar</strong><br>
    <strong>Música:</strong> <em>Todo tempo</em><br>
    <strong>Alunos:</strong> Lucas Chedid Cidin  Speridião e Pedro Ruiz – Colégio  Objetivo Integrado</p>

    <p><strong>CATEGORIA <em>COVER </em></strong><br>
    <strong>Melhor Banda</strong><br>
    <strong>Música:</strong> <em>Tom Sawyer</em> – Rush<br>
    <strong>Aluno:</strong> Douglas Marinho Camargo  Júnior – Objetivo  Teodoro</p>

    <p>&nbsp;</p>
    <p><strong>CATEGORIA INTÉRPRETE </strong><br>
    <strong>Música:</strong> <em>Radioactive</em> – Imagine Dragons<br>
    <strong>Aluna:</strong> Renata Paula Rosa – Objetivo  Granja Viana</p>

    <p><strong>REVELAÇÃO</strong><br>
    <strong>Aluno:</strong> Gabriel Favalle Terassi – Objetivo  Teodoro</p>

    <p><strong>Melhor Guitarrista </strong><br>
    Pedro  Ruiz – Objetivo  Paulista</p>

    <p><strong>Melhor Baterista</strong><br>
    Douglas  Marinho Camargo Júnior – Objetivo  Teodoro</p>

    <p><strong>Melhor Tecladista</strong><br>
    Equipe  de Robótica<br>
    Felipe  Bagni<br>
    Mariana  Bagni<br>
    Vinícius  Santos e Silva <br>
    Victor  Amaral Barreto<br>
    Colégio  Objetivo Integrado<br>
    Objetivo  Cantareira</p>

    <p><strong>Melhor Baixista</strong><br>
    João  Jaruche – Objetivo  Paz</p>

    <p><strong>Melhor DJ</strong><br>
    Luiz  Felipe Silva Miguel – Objetivo  Paulista</p>

    <div class="row">
      <div class="col-md-2 col-6 container-image" *ngFor="let item of fico47Items">          
        <div class="content-shadow" (click)="showModal('assets/img/fico-47/130918_fico_' + item + '.jpg')" data-modal-action="open" data-modal-target="modal-1">
            <img class="image-previous" src="assets/img/fico-47/130918_fico_{{ item }}.jpg" alt="">
            <div class="shadow-image">
                <i class="fa fa-image icon"></i>
            </div>
        </div>
      </div>                          
    </div>

    <button (click)="seeMore(47)" class="btn btn-primary btn-see-more text-uppercase">Ver mais     <i class="fa fa-arrow-down"></i></button>    

          
  </section>





  <section class="container">
    <h2>46º Festival Interno do Colégio Objetivo</h2>
    <hr>
      <p><strong>1º lugar – Inédita</strong><br>
      <strong>Melhor letra</strong><br>
      <strong>Música:</strong> <em>Marcas e presságios</em> (Composição:  Felipe Matias Berg) – Objetivo Integrado </p>
  
      <p><strong>2º lugar – Inédita</strong><br>
      <strong>Música:</strong> <em>Apenas um sonho</em> (Composição:  Bruno Lee Velasques) – Objetivo Vergueiro</p>
  
      <p><strong>3º lugar – Inédita </strong><br>
      <strong>Música:</strong> <em>Ska</em> (Composição: Enzo  Graziano Mansour) – Objetivo Pinheiros</p>
  
      <p><strong>Melhor <em>Cover</em></strong><br>
      <strong>Melhor Banda</strong><br>
      <strong>Aluno:</strong> Bruno Lee Velasques – Objetivo Vergueiro<br>
      <strong>Música:</strong> <em>Welcome to the Jungle – </em>Guns  N" Roses<br>
      </p>
      <p><strong>Melhor Intérprete </strong><br>
      Rafaella Bergams Visconte – Objetivo Paz</p>
      <strong>Música:</strong> <em>Feeling Good</em>
      <p><strong>Melhor DJ</strong><br>
      Pedro Henrique  Travassos e Gabriel Fávero – Objetivo Cantareira </p>
      <p><strong>Revelação</strong><br>
      Sophia de Sousa  Spena – Objetivo Granja  Viana</p>
      <p><strong>Melhor Baterista</strong><br>
      Douglas Marinho  Camargo Júnior – Objetivo Teodoro</p>
      <p><strong>Melhor Tecladista </strong><br>
      Danilo Jin Won Lee – Objetivo Vergueiro</p>
      <p><strong>Melhor Guitarrista</strong><br>
      Min Woo Yoo – Objetivo Paulista</p>
      <p><strong>Melhor Baixista</strong><br>
      Enzo Graziano Mansour – Objetivo Pinheiros</p>

      <div class="row">
        <div class="col-md-2 col-6 container-image" *ngFor="let item of fico46Items">          
          <div class="content-shadow" (click)="showModal('assets/img/fico-46/130917_fico_' + item + '.jpg')" data-modal-action="open" data-modal-target="modal-1">
              <img class="image-previous" src="assets/img/fico-46/130917_fico_{{ item }}.jpg" alt="">
              <div class="shadow-image">
                  <i class="fa fa-image icon"></i>
              </div>
          </div>
        </div>                          
      </div>

      <button (click)="seeMore(46)" class="btn btn-primary btn-see-more text-uppercase">Ver mais     <i class="fa fa-arrow-down"></i></button>
  </section>

  <section class="container">
    <h2>45º Festival Interno do Colégio Objetivo</h2>
    <hr>

    <p><strong>Galeria dos premiados</strong><br>
    <strong>1º lugar – Inédita</strong> <br>
    <strong>Música: </strong><em>Respirar </em>(composição: Leonardo  Buccoleri) – Objetivo Vergueiro</p>
    <p><strong>2º  lugar – Inédita</strong> <br>
    <strong>Música: </strong><em>Perfume alecrim </em>(composição: Felipe Matias  Berg) – Objetivo Paulista</p>
    <p><strong>3º  lugar – Inédita</strong> <br>
    <strong>Música:</strong> <em>Eu não sou psicopata </em>(composição: Luccas Zaghis  Mattos) – Objetivo Paz</p>
    <p><strong>Melhor Cover</strong><br>
    <strong>Melhor Banda</strong><br>
    Black Sabbath Cover Brasil<strong></strong><br>
    <strong>Aluno: </strong>Douglas Marinho Camargo Júnior – Objetivo Teodoro<br>
    <strong>Música: </strong><em>War pigs – Black Sabbath</em></p>
    <p><strong>Melhor Intérprete</strong><br>
    Nathalie Salviano – Objetivo Tatuapé<br>
    Música: <em>Creep</em> </p>
    <p><strong>Melhor DJ</strong> <br>
    Raphael Pazin e Pedro  Queiroz – Objetivo Paulista</p>
    <p><strong>Revelação</strong><br>
    Felipe Matias Berg – Objetivo Paulista</p>
    <p><strong>Melhor  Tecladista</strong><br>
    Maíra Greco Onias – Objetivo Vergueiro</p>
    <p><strong>Melhor  Guitarrista</strong><br>
    Luccas Z. Mattos – Objetivo Paz</p>
    <p><strong>Melhor </strong><strong>Baterista</strong><br>
    Matheus M. Carrilho – Objetivo Vergueiro</p>
    <p><strong>Melhor  Baixista</strong><br>
    Enzo G. Mansour – Objetivo Pinheiros</p>
    

    <div class="row">
      <div class="col-md-2 col-6 container-image" *ngFor="let item of fico45Items">          
        <div class="content-shadow" (click)="showModal('assets/img/fico-45/040916_FICO_' + item + '.jpg')" data-modal-action="open" data-modal-target="modal-1">
            <img class="image-previous" src="assets/img/fico-45/040916_FICO_{{ item }}.jpg" alt="">
            <div class="shadow-image">
                <i class="fa fa-image icon"></i>
            </div>
        </div>
      </div>                          
    </div>

    <button (click)="seeMore(45)" class="btn btn-primary btn-see-more text-uppercase">Ver mais     <i class="fa fa-arrow-down"></i></button>
  </section>

  <section class="container">
    <h2>44º Festival Interno do Colégio Objetivo</h2>
    <hr>
    <p>      
      <strong>1º lugar – Inédita</strong>&nbsp;<br>
      <strong>Música:&nbsp;</strong><em>Até Infinito&nbsp;</em>(composição:  Leonardo Buccoleri)&nbsp;<br>
      <strong>Prêmio de melhor letra</strong><br>
      <br>
      <strong>2º lugar – Inédita</strong>&nbsp;<br>
      <strong>Música:&nbsp;</strong><em>Meu macarrão tá salgado&nbsp;</em>(composição:  João Victor Landi Lemos de Sousa e João Victor Capozzi)<br>
      <br>
      <strong>3º lugar – Inédita</strong>&nbsp;<br>
      <strong>Música:</strong>&nbsp;<em>Paz para viver&nbsp;</em>(composição:  Gianluca Bei e Gabriel Galani Cabral)<br>
      <br>
      <strong>Melhor DJ</strong>&nbsp;<br>
      André Barros Arakelian<br>
      <br>
      <strong>Melhor Cover</strong><br>
      <strong>Melhor Banda</strong><br>
      Banda Fox bat<br>
      <strong>Música:&nbsp;</strong><em>Heaven and Hell</em><strong>&nbsp;</strong><br>
      <br>
      <strong>Melhor Intérprete</strong><br>
      <strong>Revelação</strong>&nbsp;<br>
      João Victor Landi de Sousa<br>
      <br>
      <strong>Melhor Baterista</strong><br>
      Douglas Marinho Camargo Júnior&nbsp;<br>
      <br>
      <strong>Melhor Guitarrista</strong><br>
      Willian Bazílio<br>
      <br>
      <strong>Melhor Baixista</strong><br>
      Gustavo Matheus<br>
      <br>
      <strong>Melhor Tecladista</strong><br>
      Guilherme Silva Mateus<br>
    <strong>Melhor Show</strong></p>    

    <div class="row">
      <div class="col-md-2 col-6 container-image" *ngFor="let item of fico44Items">          
        <div class="content-shadow" (click)="showModal('assets/img/fico-44/211015_FICO_' + item + '.jpg')" data-modal-action="open" data-modal-target="modal-1">
            <img class="image-previous" src="assets/img/fico-44/211015_FICO_{{ item }}.jpg" alt="">
            <div class="shadow-image" >
                <i class="fa fa-image icon"></i>
            </div>
        </div>
      </div>                          
    </div>
    <!-- <button class="at-modal__button at-modal__button--primary" data-modal-action="open" data-modal-target="modal-1" type="button">Open Modal</button> -->
   
    <button (click)="seeMore(44)" class="btn btn-primary btn-see-more text-uppercase">Ver mais     <i class="fa fa-arrow-down"></i></button>
  </section>  







</div>



<div class="at-modal" data-modal="modal-1">
    
  <span class="at-modal__button" data-modal-action="close" (click)="closeModal()">×</span>
  <section class="at-modal__section">
    <img class="image-lightbox" src="assets/img/fico-44/211015_FICO_1.jpg" alt="">
  </section>
</div>

<div class="overlay" (click)="closeModal()"></div>