


<div class="container-fluid">
    <div class="row align-items-center justify-content-md-center box-login-pai">
        <div class="col-12" style="padding-left: 5%;">
            <div class="cont-home text-center">
                <h4>o fico Comemora 47 anos!</h4>
                <h5>E neste ano você é o nosso convidado especial!</h5>
                <a href="https://www.objetivo.br/fico" target="_blank"><button class="btn btn-yellow btn-animated"><span>inscreva-se</span></button></a>
            </div>
        </div>
    </div>
</div>

