<div class="info">
  <section class="title text-center">
      <h5>poste no  <b>instagram</b> ou no <b>twitter</b>  com a </h5>
      <h3>#fico2018</h3>
      <h5>e participe do evento. A sua mensagem ou foto<br>poderá aparecer no telão do evento</h5>
      <h4>o 47º fico foi realizado no<br><b>espaço das américas<br>02/09, às 15h</b></h4>
      <button class="btn btn-yellow btn-animated" routerLink="edicoes"><span>veja como foi</span></button>
        <div class="arrow bounce"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
  </section>


      <section class="atracoes">
 
          <h1 class="animaLeft">atrações especiais</h1>
          <hr class="animaTxt">

        <div class="text-center animaTxt"><img src="assets/img/logo-capital-16.png" alt="logo capital inicial"></div> 
        <div class="container animaTxt">
            <p>Grandes atrações especiais como: show de nossos alunos, encerramento por conta do Capital Inicial e você, que ao compartilhar a hashtag <b>#FICO2018</b>, poderá aparecer no telão do palco e na transmissão ao vivo do evento. 
            </p>
        </div>

      </section>

      
      <!-- <section *ngIf="!isToday" [ngClass]="{'event-finished': eventFinished }" class="faltam">{{ textTimer }} <b>{{ message }}</b></section>
      <section *ngIf="isToday" [ngClass]="{'event-finished': eventFinished }" class="faltam"><b>É HOJE ÀS 15:00H</b></section> -->
      
      
      <section  class="premios">
          <h1 class="animaLeft">prêmios</h1>
          <hr class="animaTxt">
          <div class="container animaTxt">
            <!-- <p>
              Cadastre-se agora e não perca a oportunidade de concorrer a prêmios durante o evento. 
            </p>
            <p>
              Para participar dos sorteios você deverá, obrigatoriamente, realizar o cadastro e ter o ingresso em mãos.
              Os sorteios são destinados apenas às pessoas que receberem o ingresso do Grupo Educacional Objetivo. Ao finalizar o cadastro, você receberá um <i>sms</i> e um <i>e-mail</i> com o seu número. Guarde-o e fique atento no decorrer do evento. 
            </p> -->
            <p>
              O objetivo dessa ação é promover a integração dos convidados e motivar os participantes.
              Os prêmios são oferecidos pelos apoiadores discriminados nos materiais de divulgação.

            </p>
            <p>
              Qualquer dúvida referente aos prêmios sorteados deve ser esclarecida diretamente nas respectivas empresas apoiadoras. 
              Mais informações sobre o evento: <b><a href="tel:08007700189">0800 77 00 189</a></b>.
            </p>
            <!-- <p>Faça o cadastro e participe dessa megafesta! Consulte o regulamento.</p> -->
            <!-- <div class="text-center ">
              <a class="btn btn-confirm btn-animated"  routerLink="/cadastropremio"><span>Cadastre-se</span></a>
            </div> -->
            
          </div>
      </section>

      <section  class="realizacao">
          <h1  class="animaLeft">realização</h1>
          <hr class="animaTxt">
          <div class=" text-center animaTxt">
            <div class="col-12">
              <a href="https://www.objetivo.br" target="_blank"><img class="logo-obj-black" src="assets/img/logos/objetivo.svg" alt="logo objetivo"></a>
              <a href="http://radiomixfm.com.br/" target="_blank"><img src="assets/img/logos/mix.svg" alt="logo mix"></a>
            </div>
          </div>
           

          <h1  class="animaLeft">apoio</h1>
          <hr class="animaTxt">
          <div class=" text-center animaTxt">
              <div class="col-12">
                <a href="http://www.nicoboco.com.br/" target="_blank"><img src="assets/img/logos/nicoboco.svg" alt="logo objetivo"></a>
                <a href="https://www.rednose.com.br/" target="_blank"><img src="assets/img/logos/rednose.svg" alt="logo mix"></a>
                <a href="https://locations.schoolofrock.com/analiafranco" target="_blank"><img src="assets/img/logos/schoolofrock.svg" alt="logo mix"></a>
                <a href="http://www.houston.com.br/" target="_blank"><img src="assets/img/logos/houston.svg" alt="logo mix"></a>
              </div>
            </div>     
            <div class=" text-center">
              <div class="col-12">
                <a href="https://www.lojashure.com.br/?gclid=CjwKCAjwwo7cBRBwEiwAMEoXPGXyBkVerAtRR8UiWVajMPQA6jRtraL3BXyOnn_5IX82FelkqLa7fhoC9EoQAvD_BwE" target="_blank"><img src="assets/img/logos/shure.svg" alt="logo objetivo"></a>
                <a href="http://www.tagima.com.br/" target="_blank"><img src="assets/img/logos/tagima.svg" alt="logo mix"></a>
                <img src="assets/img/logos/everest.svg" alt="logo mix">
              </div>
            </div>              
      </section>

      <footer>
        <p class="copyright">Copyright © Colégio Objetivo</p>
      </footer>

</div>



<!-- 
<div class="at-modal" data-modal="modal-1" *ngIf="!appService.modalWasClosed && appService.isDesktop()">
    
    <span class="at-modal__button" data-modal-action="close" (click)="closeModal()">×</span>
    <section class="at-modal__section">
        <video controls [autoplay]="appService.isDesktop()">
          <source src="assets/videos/fico47depoimentodinho.mp4" type="video/mp4">  
          Seu navegador não suporta esse formato.
        </video> 
    </section>
</div>
    
<div class="overlay" (click)="closeModal()" *ngIf="!appService.modalWasClosed && appService.isDesktop()"></div> -->